* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
}

/* ====== COMMON ======= */

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 186px;
    line-height: 68px;
    border-radius: 14px;
    background: #1ebfc1;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.heading {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16;
}

.lv2 {
    font-size: 4.2rem;
}

.caption {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

/* ====== HEADER ======= */
.header {
    background: #fff;
}

.header.fix {
    position: sticky;
    top: -44px;
    z-index: 1;
}

.header .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 0 8px;
}

.header .nav ul {
    display: flex;
    gap: 39px;
}

.header .nav li a {
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
}

.nav li a:hover,
.header .nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #2f3a3b;
}

.header .action-link {
    margin-right: 24px;
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .action-link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #494949;
}

.header .action-btn {
    min-width: 108px;
    line-height: 47px;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
    background: #ffffff;
    color: #1ebfc1;
    text-align: center;
    font-weight: 600;
}

.header .action-btn:hover {
    background: #1ebfc1;
    color: #ffffff;
}

/* ====== HERO ======= */
.hero .body {
    display: flex;
    align-items: center;
    margin-top: 42px;
    padding-bottom: 79px;
}

/* Hero right */
.hero .content-block {
    width: 39%;
}

.hero .content-block .text {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.hero .content-block .heading {
    margin-top: 18px;
}

.hero .content-block .desc {
    color: #9da6a5;
    margin-top: 46px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}

.hero .cta-group {
    margin-top: 52px;
}

.hero .cta-group .btn {
    margin-right: 50px;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero .play-btn {
    border: none;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
}

/* Hero left */
.hero .media-block {
    position: relative;
    background: #e0f7f6;
    margin-left: auto;
}

.hero .media-block .image {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero .media-block .thumb-1 {
    display: flex;
    align-items: center;
    position: absolute;
    top: 149px;
    left: -40px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    padding: 18px 25px;
}

.media-block .desc {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.media-block .thumb-1 .book {
    margin-right: 16px;
    position: relative;
}

.media-block .thumb-1 .book-icon-2 {
    position: absolute;
    left: 4px;
    bottom: 8px;
}

.media-block .thumb-2 {
    position: absolute;
    left: -65px;
    bottom: 46px;
    text-align: center;
    padding: 16px 25px;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.media-block .thumb-2 .icon-2 {
    margin-top: 10px;
}

.media-block .thumb-2 .icon-2:last-child,
.media-block .thumb-2 .icon-2:first-child {
    margin-top: 16px;
}

.media-block .thumb-3 {
    position: absolute;
    right: 45px;
    bottom: 41px;
    padding: 17px 35px;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.media-block .thumb-3 .avatar-block {
    display: flex;
    margin-top: 8px;
}

.media-block .thumb-3 .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    margin-left: -7px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.media-block .thumb-3 .avatar:nth-child(1) {
    margin-left: 0;
    background: #1ebfc1;
}

.media-block .thumb-3 .avatar:nth-child(2) {
    background: #ffc147;
}

.media-block .thumb-3 .avatar:nth-child(3) {
    background: #ff947a;
}

.media-block .thumb-3 .avatar:nth-child(4) {
    background: #bf83ff;
}

.media-block .thumb-3 .avatar.color {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    background: #1ebfc1;
}

/* ====== FEATURES ======= */
.features {
    padding: 50px 0;
    margin-top: 80px;
}

.features-top {
    width: 50%;
}

.features-top .heading {
    line-height: 1.33;
    margin: 18px 0;
}

.features-top .desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}

.features .row {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    padding-right: 147px;
}

.features .column .lv3 {
    margin-top: 26px;
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
}

.features .column .desc {
    margin-top: 16px;
    width: 224px;
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.69;
}

.features .column:first-child .desc {
    width: 168px;
}

/* ====== COURSES ======= */
.courses {
    padding: 50px 0;
    margin-top: 80px;
}

/* courses-top */
.courses-top .heading {
    margin-top: 18px;
    line-height: normal;
}

.courses-top .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 19px;
}

.courses-top .desc {
    width: 525px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}

.courses-top .all {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

/* courses-bottom */
.courses-bottom {
    margin-top: 79px;
    display: flex;
    gap: 47px;
}

.courses-bottom .column {
    width: calc(33.3% - 31px);
    position: relative;
}

.courses-bottom .wrap {
    position: relative;
}

.courses-bottom .bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 359px;
    height: 393px;
    border-radius: 8px;
    opacity: 0.35;
    background: #d0efed;
}

.courses-bottom .image {
    width: 359px;
    height: 393px;
    border-radius: 8px;
    object-fit: cover;
}

.courses-bottom .container {
    position: absolute;
    left: 17px;
    bottom: -124px;
    padding: 18px 25px;
    width: 325px;
    height: 195px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.courses-bottom .container .heading {
    font-size: 2.2rem;
    line-height: normal;
}

.courses-bottom .container .text {
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

.courses-bottom .container strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.courses-bottom .container .desc {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}

.courses-bottom .container .aside {
    margin-top: 18px;
    display: flex;
    gap: 10px;
}

.courses-bottom .container .aside .desc {
    display: flex;
    align-items: center;
    gap: 10px;
}

.courses-bottom .container .aside .desc::before {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    background: #1ebfc1;
    border-radius: 50%;
}
